<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Index</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Girlsnamaquiagem</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">ss
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="/index">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
        <li class="nav-item"><a class="nav-link" href="/detalhes">Detalhes</a></li>
        <li class="nav-item"><a class="nav-link" href="/produtos">Produtos</a></li>
        <li class="nav-item"><a class="nav-link" href="/fotos">Fotos</a></li>
      </ul>
    </div>
  </div>
</nav>


<section class="bg-primary text-white text-center p-5">
  <div class="container">
    <h1>Bem-vindo ao Nosso Site</h1>
    <p class="lead">Projeto desenvolvido com Bootstrap 5</p>
    <a href="file:///home/aluno/L'orennalparis/tp1-2025-main%20(2)/prog.web/produto.html" class="btn btn-light btn-lg">Ver Produtos</a>
  </div>
</section>


<div class="container my-5">
  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <img src="https://m.media-amazon.com/images/I/81DDAlPSjkL._AC_UF1000,1000_QL80_.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Blush Milano:</h5>
          <p class="card-text">Blush em pó com uma libertação de cor intensa.
             A fórmula garante uma cor pura durante a aplicação e um resultado modulável, ao passo que a inovadora textura ultrafina maximiza o desempenho da cor.
              Permite um esbatimento perfeito e é fácil de aplicar.
              Os pós finos garantem um resultado uniforme e a elevada concentração de pigmentos facilita a aplicação da cor: uma ótima aderência para um resultado perfeito.
          Disponível em 12 tons e 2 acabamentos diferentes: acetinado e mate, para todas as tezes. 
          Dermatologicamente testado. </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="https://www.sephora.com.br/dw/image/v2/BFJC_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/pt_BR/dw66c490a8/images/Color%20BR/DIOR/2024/Paleta_Backstage_Smoky/3348901674348.jpg?sw=556&sh=680&sm=fit" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Paleta de Sombra da Dior:</h5>
          <p class="card-text">A Paleta de Sombras Dior Backstage é pigmentada e multifuncional. Os 9 tons diferentes são usados também como primer, iluminador e delineador, proporcionando um amplo leque de possibilidades para maquiagens com aspecto profissional.

            Também oferece textura confortável e acabamentos com efeito cintilante, matte, holográfico e metálico, ideais para atender a todos os gostos e estilos.
            
            Disponível em 3 versões. Compre sua Paleta Dior na Sephora!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="https://puls-img.chanel.com/1702571992543-latammobile375x400pxx4jpg.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Base da Chanel:</h5>
          <p class="card-text">A primeira base com sérum da CHANEL concentra os benefícios de Vanilla Planifolia e o poder de um gerador de luminosidade em uma fórmula sublime que se funde perfeitamente à pele, oferecendo uma experiência sensorial única. Ela possui uma mistura de pigmentos e partículas refletoras de luz, para uma pele uniforme e luminosa durante todo o dia. Leve e envolvente, ela possui a textura de uma essência ultrassensorial. Ela literalmente se funde à pele, deixando-a com um aspecto mais suave, revelando seu brilho como se ela estivesse iluminada em seu interior. O pincel característico permite uma aplicação sutil e personalizada, para uma cobertura construível.
            A pele ganha um acabamento luminoso sublime. A pele se torna perfeitamente hidratada, confortável e protegida das agressões externas.
            </p>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
